.nav{
    top:0;
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    min-height:8vh;
    background:rgb(33, 86, 146);
    margin:0 auto;
    color:white;
}
li{
    list-style: none;
}

.chosen :hover
{
    border-bottom: 1px solid white;
}